appdirs==1.4.3
backports.csv==1.0.7
certifi==2019.9.11
chardet==3.0.4
component-contribution==0.2.4
cycler==0.10.0
defusedxml==0.6.0
equilibrator-api==0.2.4
equilibrator-cache==0.2.4
et-xmlfile==1.0.1
future==0.17.1
idna==2.8
importlib-resources==1.0.2
jdcal==1.4.1
kiwisolver==1.1.0
matplotlib==3.1.1
mpmath==1.1.0
nltk==3.4.5
numpy==1.17.2
odfpy==1.4.0
openpyxl==3.0.0
optlang==1.4.4
packaging==19.2
pandas==0.25.1
Pint==0.9
pyarrow==0.15.0
pyparsing==2.4.2
python-dateutil==2.8.0
python-Levenshtein==0.12.0
python-libsbml==5.18.0
pytz==2019.3
PyYAML==5.1.2
quilt==2.9.15
requests==2.22.0
sbtab==0.9.71
scipy==1.3.1
set-up-grasp-models==0.1.0
six==1.12.0
SQLAlchemy==1.3.9
swiglpk==4.65.0
sympy==1.4
tablib==0.13.0
tqdm==4.36.1
urllib3==1.25.6
xlrd==1.2.0
XlsxWriter==1.2.1
xlwt==1.3.0
