alabaster==0.7.12
altair==4.1.0
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
charset-normalizer==2.0.4
cycler==0.10.0
docutils==0.16
entrypoints==0.3
future==0.18.2
idna==3.2
imagesize==1.2.0
Jinja2==3.0.1
jsonschema==3.2.0
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.4.3
numpy==1.22.0
packaging==21.0
pandas==1.3.1
Pillow==9.0.1
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.1
requests==2.27.1
scipy==1.7.1
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinx-cobra-theme @ git+https://github.com/martamatos/sphinx_cobra_theme.git@76872ad63b72196509bd68ec4a82ea1bacb9abcf
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-matlabdomain==0.12.0
sphinxcontrib-napoleon @ git+https://github.com/martamatos/sphinxcontrib-napoleon.git@0a9e3f48b43cb9fe6e4febcd08dde697e763d71e
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toolz==0.11.1
urllib3==1.26.8
